Query 1. - Add a column named as ""Revenue"" into dataframe which is the sum of the below columns 'Fare_amount','Extra','MTA_tax','Improvement_surcharge','Tip_amount','Tolls_amount','Total_amount' 

Query 2. - Increasing count of total passengers in New York City by area 

Query 3. - Realtime Average fare/total earning amount earned by 2 vendors 

Query 4. - Moving Count of payments made by each payment mode 

Query 5. - Highest two gaining vendor's on a particular date with no of passenger and total distance by cab 

Query 6. - Most no of passenger between a route of two location. 

Query 7. - Get top pickup locations with most passengers in last 5/10 seconds."

In [0]:
spark.conf.set("fs.azure.account.auth.type.storageaccountlast23.dfs.core.windows.net", "OAuth")
spark.conf.set("fs.azure.account.oauth.provider.type.storageaccountlast23.dfs.core.windows.net", 
               "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider")
spark.conf.set("fs.azure.account.oauth2.client.id.storageaccountlast23.dfs.core.windows.net", "73ab7fe9-3734-40ec-b7a7-c2057cccc029")
spark.conf.set("fs.azure.account.oauth2.client.secret.storageaccountlast23.dfs.core.windows.net", "Z4U8Q~fzB.h3Avz3YOcywkxVIrPiLJTVsTgnMbXp")
spark.conf.set("fs.azure.account.oauth2.client.endpoint.storageaccountlast23.dfs.core.windows.net", 
               "https://login.microsoftonline.com/866aa9ca-982d-4970-86dc-8e2c0a9ad24b/oauth2/token")

In [0]:
#waiting 1 - 2 minutes to updates the access...
df = spark.read.parquet("abfss://nycdata@storageaccountlast23.dfs.core.windows.net/yellow_tripdata_2018-01.parquet")
df.show(5)
df.printSchema()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2018-01-01 00:21:05|  2018-01-01 00:24:23|              1|          0.5|         1|                 N|          41|          24|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|                null|       null|
|       1| 2018-01-01 00:44:55|  2018-01-01 01:03:05|              1|          2.7|         1|                 N|         239|         140|           2|       14.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        15.3|                null|       null|
|       1| 2018-01-01 00:08:26|  2018-01-01 00:14:21|              2|          0.8|         1|                 N|         262|         141|           1|        6.0|  0.5|    0.5|       1.0|         0.0|                  0.3|         8.3|                null|       null|
|       1| 2018-01-01 00:20:22|  2018-01-01 00:52:51|              1|         10.2|         1|                 N|         140|         257|           2|       33.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        34.8|                null|       null|
|       1| 2018-01-01 00:09:18|  2018-01-01 00:27:06|              2|          2.5|         1|                 N|         246|         239|           1|       12.5|  0.5|    0.5|      2.75|         0.0|                  0.3|       16.55|                null|       null|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 5 rows

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [0]:
from pyspark.sql.functions import col

df = df.withColumn("Revenue", 
    col("fare_amount") + col("extra") + col("mta_tax") +
    col("improvement_surcharge") + col("tip_amount") +
    col("tolls_amount") + col("total_amount")
)
df.select("fare_amount", "Revenue").show(5)

+-----------+-------+
|fare_amount|Revenue|
+-----------+-------+
|        4.5|   11.6|
|       14.0|   30.6|
|        6.0|   16.6|
|       33.5|   69.6|
|       12.5|   33.1|
+-----------+-------+
only showing top 5 rows

In [0]:
df.groupBy("PULocationID")\
  .sum("passenger_count")\
  .withColumnRenamed("sum(passenger_count)", "total_passengers")\
  .orderBy("total_passengers", ascending=False)\
  .show()

+------------+----------------+
|PULocationID|total_passengers|
+------------+----------------+
|         161|          573916|
|         237|          572988|
|         236|          550847|
|         230|          511603|
|         162|          490738|
|         186|          460129|
|         234|          455335|
|         170|          440565|
|          48|          438312|
|         142|          427097|
|         163|          391685|
|          79|          390878|
|         138|          381519|
|         239|          370578|
|         141|          340100|
|         132|          333826|
|         164|          332941|
|         107|          330597|
|          68|          324889|
|         100|          296869|
+------------+----------------+
only showing top 20 rows

In [0]:
df.groupBy("VendorID")\
  .agg({"fare_amount": "avg", "Revenue": "avg"})\
  .withColumnRenamed("avg(fare_amount)", "avg_fare")\
  .withColumnRenamed("avg(Revenue)", "avg_revenue")\
  .show()

+--------+------------------+------------------+
|VendorID|          avg_fare|       avg_revenue|
+--------+------------------+------------------+
|       1|11.959975333672647|30.254768579804274|
|       2|12.467037370438032|31.545275988143338|
+--------+------------------+------------------+

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import count

windowSpec = Window.partitionBy("payment_type").orderBy("tpep_pickup_datetime").rowsBetween(-10, 0)

df = df.withColumn("moving_count", count("payment_type").over(windowSpec))
df.select("payment_type", "moving_count").show()

+------------+------------+
|payment_type|moving_count|
+------------+------------+
|           1|           1|
|           1|           2|
|           1|           3|
|           1|           4|
|           1|           5|
|           1|           6|
|           1|           7|
|           1|           8|
|           1|           9|
|           1|          10|
|           1|          11|
|           1|          11|
|           1|          11|
|           1|          11|
|           1|          11|
|           1|          11|
|           1|          11|
|           1|          11|
|           1|          11|
|           1|          11|
+------------+------------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import to_date, sum

df = df.withColumn("trip_date", to_date("tpep_pickup_datetime"))

df.groupBy("trip_date", "VendorID")\
  .agg(
      sum("Revenue").alias("total_revenue"),
      sum("passenger_count").alias("total_passengers"),
      sum("trip_distance").alias("total_distance")
  )\
  .filter("trip_date = '2018-01-15'")\
  .orderBy("total_revenue", ascending=False)\
  .show(2)

+----------+--------+------------------+----------------+------------------+
| trip_date|VendorID|     total_revenue|total_passengers|    total_distance|
+----------+--------+------------------+----------------+------------------+
|2018-01-15|       2|4475021.5800031945|          266559| 439143.8800000009|
|2018-01-15|       1|3137794.8000030015|          130018|300357.29999999865|
+----------+--------+------------------+----------------+------------------+

In [0]:
df.groupBy("PULocationID", "DOLocationID")\
  .sum("passenger_count")\
  .withColumnRenamed("sum(passenger_count)", "total_passengers")\
  .orderBy("total_passengers", ascending=False)\
  .show(1)

+------------+------------+----------------+
|PULocationID|DOLocationID|total_passengers|
+------------+------------+----------------+
|         264|         264|          186705|
+------------+------------+----------------+
only showing top 1 row

In [0]:
from pyspark.sql.functions import window

df.withWatermark("tpep_pickup_datetime", "30 seconds")\
  .groupBy(window("tpep_pickup_datetime", "10 seconds"), "PULocationID")\
  .sum("passenger_count")\
  .orderBy("sum(passenger_count)", ascending=False)\
  .show()

+--------------------+------------+--------------------+
|              window|PULocationID|sum(passenger_count)|
+--------------------+------------+--------------------+
|{2018-01-23 20:52...|         230|                  34|
|{2018-01-18 23:38...|         230|                  31|
|{2018-01-11 21:00...|         161|                  31|
|{2018-01-17 18:19...|         237|                  29|
|{2018-01-22 17:14...|         237|                  29|
|{2018-01-24 21:45...|         162|                  29|
|{2018-01-18 23:20...|         142|                  28|
|{2018-01-06 15:15...|         264|                  28|
|{2018-01-24 22:00...|         161|                  28|
|{2018-01-21 01:18...|          79|                  28|
|{2018-01-26 09:12...|         186|                  27|
|{2018-01-24 21:56...|         161|                  27|
|{2018-01-29 21:18...|         162|                  27|
|{2018-01-01 18:51...|         186|                  27|
|{2018-01-08 15:15...|         264|                  27|
|{2018-01-25 21:48...|         162|                  27|
|{2018-01-15 18:58...|         138|                  27|
|{2018-01-24 21:57...|         142|                  27|
|{2018-01-10 20:15...|         162|                  27|
|{2018-01-11 20:09...|         161|                  27|
+--------------------+------------+--------------------+
only showing top 20 rows